<div class="row clearfix">
  <div class="col-xs-12">
    <h1>{{model.name}}</h1>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 column">
    <img data-photo-id={{model.id}} src={{model.imagePath}} width="300px" height="300px">
    <br>
    {{#if model.youtubePath}}
      <a href="http://www.youtube.com/{{model.youtubePath}}">{{fa-icon "youtube-square" size="3"}}</a>
    {{/if}}
    {{#if model.facebookPath}}
      <a href="http://www.facebook.com/{{model.facebookPath}}">{{fa-icon "facebook-square" size="3"}}</a>
    {{/if}}
    {{#if model.instagramPath}}
      <a href="http://www.instagram.com/{{model.instagramPath}}">{{fa-icon "instagram" size="3"}}</a>
    {{/if}}
    {{#if model.twitterPath}}
      <a href="http://www.twitter.com/{{model.twitterPath}}">{{fa-icon "twitter-square" size="3"}}</a>
    {{/if}}

    {{#if model.status}}
      <p>Status: {{model.status}}</p>
    {{/if}}
  </div>
  <div class="col-xs-12 col-sm-7  col-md-8 col-lg-9 column">
    <p>{{model.description}}</p>
  </div>
</div>



{{liquid-outlet}}
